<app-navbar></app-navbar>
<div class="flex flex-col px-4 md:px-16 lg:px-64 py-8 md:py-12 lg:py-16 w-full justify-center">
    <!-- Restaurant Name -->
    <span class="font-bold text-left text-2xl lg:mx-32">{{rest.name}}</span>

    <!-- Restaurant Info Card -->
    <div class="flex flex-col rounded-md shadow-md p-4 my-8 md:my-12 lg:mx-32 border-gray-400 hover:shadow-gray-500">
        <span class="font-semibold">
            <span class="material-icons bg-green-500 text-white text-xs rounded-full px-[3px] py-[2px]">star</span>
            {{rest.rating}} . 26K Reviews
        </span>

        <div class="my-2">
            <a *ngFor="let food of rest.foods" href="{{food}}" class="text-orange-600">
                {{food}}      
            </a>
        </div>

        <span class="text-sm font-bold my-2">Outlet
            <span class="text-sm text-gray-500 mx-4">{{rest.location}}</span>
        </span>

        <span class="text-sm font-bold">{{rest.time}}</span>
    </div>

    <!-- Menu Section -->
    <div class="flex flex-col items-center justify-between py-4 w-full">
        <span class="font-mono font-semibold text-gray-400">M E N U</span>

        <!-- Menu Item -->
        <div *ngFor="let foodItem of rest.menu" class="w-9/12 flex flex-col md:flex-row m-4 px-4 md:px-8 lg:px-32 lg:mx-32 rounded-md shadow-md py-4 hover:shadow-gray-500 justify-between">
            <div class="flex flex-col w-full md:w-9/12">
                <span class="font-bold text-lg">{{foodItem.name}}</span>
                <span class="font-bold text-md">${{foodItem.price}}</span>
                <span>{{foodItem.desc}} Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate, aliquid fugit ratione odit quibusdam a dignissimos quisquam.</span>
            </div>
            <div class="flex flex-col items-center md:items-start mt-4 md:mt-0">
                <div class="rounded-md w-[150px] h-[150px] bg-gray-500 overflow-hidden">
                    <img src="./assets/{{foodItem.id}}-img.avif" width="150px" height="150px" class="rounded-md overflow-clip w-full h-full object-cover">
                </div>

                <div class="flex flex-row items-center justify-center py-4 -my-8 w-full">
                    <button class="rounded-md shadow-md px-4 py-2 text-green-600 font-bold bg-white hover:shadow-gray-500" (click)="addToCart(foodItem)">ADD</button>
                    <div class="rounded-md shadow-md mx-1 ">
                        <span>{{foodItem.quantity}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
